<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjbZxlf_OpOjmS-xQ4riKkOG2Nw82VKlc</string>
	<key>GCM_SENDER_ID</key>
	<string>922664199907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>foster.coffee-ios</string>
	<key>PROJECT_ID</key>
	<string>coffee-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>coffee-ios.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:922664199907:ios:7a6397e0e313066e4647d6</string>
</dict>
</plist>
